<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>オススメ育毛剤3本勝負 | トップ</title>
    <link rel="shortcut icon" href="media/favicon.ico">
    <link rel="stylesheet" type="text/css" href="style/normalize.css">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link rel="stylesheet" type="text/css" href="style/jquery.mCustomScrollbar.min.css">
</head>

<body>
    <header>
        <div class="header-cont d-flex align-items-center justify-content-between">
            <h1><a href="#" class="d-flex align-items-center"><img src="media/header/logo.png" alt="髪LABO">
                <img src="media/header/logo_text.png" alt="髪のための情報サイト-髪LABO"></a></h1>
            <div class="search-box">
                <form method="get" id="searchform" action="http://kamilabo.info/" class="d-flex align-items-center">
                    <label class="hidden" for="s">
                    </label>
                    <input type="text" placeholder="気になるワードを入力" size="35" value="" name="s" id="s" />
                    <input type="image" src="media/header/searchBtn.png" alt="検索" id="searchsubmit" />
                </form>
            </div>
        </div>
        <nav>
            <ul class="d-flex align-items-center">
                <li>
                    <a href="index.html"><img src="media/header/nav_logo.png" class="img-responsive" alt=""></a>
                </li>
                <li class="d-flex align-items-center">
                    <a href="effect.html"><img src="media/header/nav_1.png" class="img-responsive" class="一本目"></a>
                </li>
                <li class="d-flex align-items-center">
                    <a href="popularity.html"><img src="media/header/nav_2.png" class="img-responsive" class="二本目"></a>
                </li>
                <li class="d-flex align-items-center">
                    <a href="cost.html"><img src="media/header/nav_3.png" class="img-responsive" class="三本目"></a>
                </li>
                <li class="d-flex align-items-center"><a href="comparison-Archive.html">比較対象<br><strong>商品一覧</strong></a></li>
                <li class="d-flex align-items-center"><a href="component-Archive.html">比較対象商品<br><strong>成分一覧</strong></a></li>
            </ul>
        </nav>
    </header>
    <main class="comparisonSingle" id="main"></main>
    <footer>
        <div class="footer-cont">
            <div class="footer-logo">
                <img src="media/footer/footer_kamilab_logo.png" class="img-responsive" alt="髪LABO"> </div>
            <div class="footer-inner-cont d-flex justify-content-between">
                <div class="footer-inner">
                    <div class="footer-inner-box">
                        <p class="footer-inner-box-ttl d-flex align-items-center">
                            <img src="media/footer/arwL.png">
                            <span>オススメ育毛剤3本勝負</span>
                        </p>
                        <ul>
                            <li><a href="effect.html">1本目育毛効果</a></li>
                            <li><a href="popularity.html">2本目人気</a></li>
                            <li><a href="cost.html">3本目コスパ</a></li>
                        </ul>
                    </div>
                    <div class="footer-inner-box">
                        <p class="footer-inner-box-ttl">
                            <a href="component-Archive.html" class="d-flex align-items-center">
                                <img src="media/footer/arwL.png">
                                <span>育毛剤成分を徹底分析</span>
                            </a>
                        </p>
                    </div>
                    <div class="footer-inner-box">
                        <p class="footer-inner-box-ttl d-flex align-items-center">
                            <a href="comparison-Archive.html" class="d-flex align-items-center">
                                <img src="media/footer/arwL.png">
                                <span>比較対象育毛剤一覧</span>
                            </a>
                        </p>
                        <ul class="d-flex justify-content-between flex-wrap">
                            <li><a href="comparison-single.html">チャップアップ</a></li>
                            <li><a href="comparison-single.html">チャップアップ</a></li>
                            <li><a href="comparison-single.html">イクオス</a></li>
                            <li><a href="comparison-single.html">イクオス</a></li>
                            <li><a href="comparison-single.html">ブブカ</a></li>
                            <li><a href="comparison-single.html">ブブカ</a></li>
                            <li><a href="comparison-single.html">チャップアップ</a></li>
                            <li><a href="comparison-single.html">チャップアップ</a></li>
                            <li><a href="comparison-single.html">薬用ポリピュアEX</a></li>
                            <li><a href="comparison-single.html">薬用ポリピュアEX</a></li>
                            <li><a href="comparison-single.html">ルプルプ薬用育毛エッセンス</a></li>
                            <li><a href="comparison-single.html">ルプルプ薬用育毛エッセンス</a></li>
                            <li><a href="comparison-single.html">プランテル</a></li>
                            <li><a href="comparison-single.html">プランテル</a></li>
                            <li><a href="comparison-single.html">ウーマフリード</a></li>
                            <li><a href="comparison-single.html">ウーマフリード</a></li>
                            <li><a href="comparison-single.html">M-1ミスト</a></li>
                            <li><a href="comparison-single.html">M-1ミスト</a></li>
                            <li><a href="comparison-single.html">薬用レパオ</a></li>
                            <li><a href="comparison-single.html">薬用レパオ</a></li>
                             <li><a href="comparison-single.html">ルプルプ薬用育毛エッセンス</a></li>
                            <li><a href="comparison-single.html">ルプルプ薬用育毛エッセンス</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-inner">
                    <div class="footer-inner-box">
                        <p class="footer-inner-box-ttl d-flex align-items-center">
                            <img src="media/footer/arwL.png">
                            <span>髪ラボの育毛理論</span>
                        </p>
                        <ul>
                            <li><a href="http://kamilabo.info/%E9%AB%AAlabo%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6">髪ラボについて</a></li>
                            <li><a href="http://kamilabo.info/1304-2">髪ラボの育毛理論〜髪の毛のメカニズム〜</a></li>
                            <li><a href="http://kamilabo.info/%E9%AB%AAlabo%E3%81%AE%E8%82%B2%E6%AF%9B%E7%90%86%E8%AB%96%E3%80%80%EF%BD%9E%E4%B8%80%E8%88%AC%E7%9A%84%E3%81%AA%E7%94%B7%E6%80%A7%E3%81%AE%E8%96%84%E6%AF%9Baga%EF%BD%9E">髪ラボの育毛理論〜一般的な男性の薄毛AGA〜</a></li>
                            <li><a href="http://kamilabo.info/%E9%AB%AAlabo%E3%81%AE%E8%82%B2%E6%AF%9B%E7%90%86%E8%AB%96%E3%80%80%EF%BD%9Efaga%E3%81%AE%E5%8E%9F%E5%9B%A0%E3%81%A8%E6%B2%BB%E7%99%82%E6%B3%95%EF%BD%9E">髪ラボの育毛理論〜FAGAの原因と治療法〜</a></li>
                            <li><a href="http://kamilabo.info/%E9%AB%AAlabo%E3%81%AE%E8%82%B2%E6%AF%9B%E7%90%86%E8%AB%96%E3%80%80%EF%BD%9E%E5%86%86%E5%BD%A2%E8%84%B1%E6%AF%9B%E7%97%87%E3%81%AE%E5%8E%9F%E5%9B%A0%E3%81%A8%E6%B2%BB%E7%99%82%E6%B3%95%EF%BD%9E">髪ラボの育毛理論〜円形脱毛症の原因と治療法〜</a></li>
                        </ul>
                    </div>
                    <div class="footer-inner-box">
                        <p class="footer-inner-box-ttl d-flex align-items-center">
                            <img src="media/footer/arwL.png">
                            <span>髪の情報カテゴリー</span>
                        </p>
                        <ul>
                            <li><a href="http://kamilabo.info/category/aga">AGA</a></li>
                            <li><a href="http://kamilabo.info/category/faga">FAGA</a></li>
                            <li><a href="http://kamilabo.info/category/component">育毛・発毛</a></li>
                            <li><a href="http://kamilabo.info/category/areata">円形脱毛</a></li>
                            <li><a href="http://kamilabo.info/category/transplantation">植毛・増毛</a></li>
                            <li><a href="http://kamilabo.info/category/scalp">頭皮</a></li>
                            <li><a href="http://kamilabo.info/category/wig">かつら・ウィッグ</a></li>
                            <li><a href="http://kamilabo.info/category/hair">髪の毛</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <p class="copyright">Copyright© 髪LABO , 2017 All Rights Reserved.</p>
        </div>
    </footer>
    <script type="text/javascript" src="script/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="script/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="script/main.js"></script>
    <script src="script/jquery.tmpl.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script src="script/common.js"></script>
    <script src="script/view/single.js"></script>
</body>

<script type="text/html" id="mainTemplate">
    <div id="breadcrumb">
        <div class="breadcrumb-inner">
            <a href="index.html">育毛剤三本勝負</a> > <a href="comparison-Archive.html">比較対象商品一覧</a> > <span>${name}</span>
        </div>
    </div>
    <div class="main-inner">
        <div class="content comparisonSingle-cont">
            <div class="component-data-list-cont">
                <!--商品名-->
                <h3 class="d-flex flex-column">
                    ${name}<span>${publisher}</span></h3>
                <div class="component-data-list d-flex">
                    <div class="component-data-list-inner d-flex flex-column">
                        <!--商品画像-->
                        <div class="product-img">
                            <a href="comparison-single.html?id=${id}"><img src="${image}" class="img-responsive"></a>
                        </div>
                        <!--チャート-->
                        <div class="component-data-list-chart d-flex justify-content-center align-items-end">
                            <!-- <img src="media/common/chart.png" class="img-responsive"> -->
                            <canvas id="radarChart" height="220" width="220"></canvas>
                        </div>
                    </div>
                    <div class="component-data-list-inner d-flex flex-column">
                        <div class="component-data-list-desc">
                            <div class="product-link d-flex align-items-center justify-content-end">
                                <img src="media/common/arw_red.png" class="img-responsive">
                                <a href="#" target="blank">勝負の詳細はこちら</a>
                            </div>
                            <!--商品特長-->
                            <div class="component-data-list-desc-box d-flex justify-content-between">
                                <div class="box">
                                    <!--１日あたりの価格-->
                                    <div class="price-per-day">
                                        <p>１日あたり<strong>${one_day_price}</strong>円</p>
                                        <p><small>${capacity}ml ${price}円(税込)</small></p>
                                    </div>
                                </div>
                                <div class="box">
                                    <!--評価-->
                                    <div class="result d-flex justify-content-between align-items-center">
                                        <span>育毛期待度</span>
                                        <span>
                                        <div class="d-flex align-items-center">
                                            {{for(i=0; i<expect_degree; i++)}}
                                            <img src="media/common/iconSTAR.png" class="img-responsive">
                                            {{/for}}
                                        </div>
                                    </span>
                                    </div>
                                    <div class="result d-flex justify-content-between align-items-center">
                                        <span>注目人気</span>
                                        <span>
                                        <div class="d-flex align-items-center">
                                            {{for(i=0; i<popularity; i++)}}
                                            <img src="media/common/iconSTAR.png" class="img-responsive">
                                            {{/for}}
                                        </div>
                                    </span>
                                    </div>
                                    <div class="result d-flex justify-content-between align-items-center">
                                        <span>コストパフォーマンス</span>
                                        <span>
                                        <div class="d-flex align-items-center">
                                            {{for(i=0; i<cost_performance; i++)}}
                                            <img src="media/common/iconSTAR.png" class="img-responsive">
                                            {{/for}}
                                        </div>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="component-data-list-result">
                            <p><strong>${catch_phrase}</strong></p>
                            <p>${hair_growth_effect_1_detail}</p>
                            <div class="official-link d-flex justify-content-end">
                                <a href="${url}">
                                    <img src="media/comparisonSingle/moreinfoBtn_s.png" class="img-responsive">
                                    <span>この商品の公式ページへ</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="component-data-merit">
                <h4>ここがすごい！ ${name}</h4>
                <dl class="clearfix">
                    <dt>
                        <h5 class="d-flex align-items-center"><img src="media/comparisonSingle/point01.png">${recommend_1}</h5></dt>
                    </dt>
                    <dd>
                        <p>${recommend_1_detail}</p>
                    </dd>
                    <dt>
                        <h5 class="d-flex align-items-center"><img src="media/comparisonSingle/point02.png">${recommend_2}</h5></dt>
                    </dt>
                    <dd>
                        <p>${recommend_2_detail}</p>
                    </dd>
                    <dt>
                        <h5 class="d-flex align-items-center"><img src="media/comparisonSingle/point03.png">${recommend_3}</h5></dt>
                    </dt>
                    <dd>
                        <p>${recommend_3_detail}</p>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="content component-data-archive">
            <h4>育毛成分一覧</h4>
            <!--育毛成分一覧-->
            <table border="3" cellspacing="0" bordercolor="#e5e5e5">
            {{for(i=0; i<compList.length/5; i++)}}
                {{for(col=0; col<5; col++)}}
                    {{if col == 0}}<tr>{{/if}}
                    {{if i*5+col < compList.length}}
                        <th>${compList[i*5+col].effect}</th>
                    {{/if}}
                    {{if col == 4}}</tr>{{/if}}
                {{/for}}
                {{for(col=0; col<5; col++)}}
                    {{if col == 0}}<tr>{{/if}}
                    {{if i*5+col < compList.length}}
                    <td>
                        {{for(n=0; n<compList[i*5+col].compName.length; n++)}}
                        ${compList[i*5+col].compName[n]}<br/>
                        {{/for}}
                    </td>
                    {{/if}}
                    {{if col == 4}}</tr>{{/if}}
                {{/for}}
            {{/for}}
            </table>
            <!--育毛成分一覧END-->
        </div>
        <div class="content kuchikomi">
            <h3><img src="media/comparisonSingle/ttl_kuchikomi.png" class="img-responsive"></h3>
            <div class="red-border"></div>
            <div class="kuchikomi-inner">
                <!--口コミループ-->
                <dl class="clearfix">
                    {{for(i=0; i<assessList.length; i++)}}
                        {{if i%2==0}}
                            <dt><img src="media/comparisonSingle/iconwoman.png"></dt>
                        {{else}}
                            <dt><img src="media/comparisonSingle/iconman.png"></dt>
                        {{/if}}
                        <dd>
                            <img src="media/comparisonSingle/bgSORP.png" class="img-responsive">
                            <span>${assessList[i].assess}</span>
                        </dd>
                    {{/for}}
                </dl>
                <!--口コミEND-->
            </div>
        </div>
        <div class="official-link-l d-flex justify-content-center">
            <a href="${url}"> <img src="media/comparisonSingle/moreinfoBtn_l.png" class="img-responsive"><span>この商品の公式ページへ</span></a>
        </div>
        <div id="pageTOP">
            <a href="#"><img src="media/footer/pgTOP_off.png" class="img-responsive"></a>
        </div>
    </div>
</script>

</html>
